/* .box{
    height: 400px;
    max-width: 100%;
    background-color: purple;
} */

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1240px;
    margin: auto;
}

.banner {
    height: 400px;
    max-width: 100%;
    background-color: purple;
}
.stuff{
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: row;
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px){
    .stuff{
        flex-direction: column;
        justify-content: center;
    }
}


/* HOME PAGE CSS */
#three-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    width: 30%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    #three-boxes {
        flex-direction: column;
    }
    .box {
        width: 100%;
    }
}