.first{
    padding: 20px;
    float: left;
    gap: 20px;
}
.first ul li{
    list-style: circle;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.first ul li:hover{
    font-size: 30px;
}
.first h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.box{
    width: 15%;
    height: 225px;
    display: flex;
    padding: 150px;
    margin-right: 90px;
    gap: 10px;
}
.cont{
    display: flex;
    flex-direction: row;
}
#header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    background-color: lightgrey;
    /* Code below keeps it fixed and no gaps */
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 60px;
    /* Add 'position: absolute' to have the logo not be affected by the div*/
    position: absolute;
}

.logo img {
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    top: 0px;
    padding: 10px;
    text-align: center;
    /* Use margin auto instead to center */
    /* margin-right: 75%; */
    margin: auto;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav ul {
    list-style: none;
    display: flex;
    /* Don't place fixed on the ul only on the top most parent */
    /* position: fixed; */ 
}

.nav ul li {
    margin-left: 20px;
}
.nav ul li:hover{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}
.container2{
    display: flex;
    flex-direction: column;
}
#main-container{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.body{
    border: 25px black double;
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px){
    #main-container{
        flex-direction: column;
        justify-content: center;
    }
    .box{
        margin-right: auto;
        padding: 10px;
        padding-top: 120px;
    }
    .first ul li{
        font-size: 15px;
    }   
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px){
    #main-container{
        flex-direction: column;
    }

}
 /* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px){
    #main-container{
        flex-direction: column;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px){
    #main-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box{
        margin-right: 50px;
        gap: 0px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px){
    #main-container{
        flex-direction: row;
    }
}
